@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

.link {
  font-weight: bold;
  color: mat.get-color-from-palette(mat.define-palette(mat.$indigo-palette));
}

.vertical-form {
  display: flex;
  flex-flow: column nowrap;
}

.page-content {
  margin: 24px;
}

@media (min-width: 600px) {
  .page-content {
    width: 500px;
    margin: 24px auto;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
