<form [formGroup]="profileGroup" class="vertical-form">
    <mat-form-field>
        <mat-label>邮箱</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>电话</mat-label>
        <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field>
        <mat-label>微信</mat-label>
        <input matInput formControlName="weChat">
    </mat-form-field>
    <mat-form-field>
        <mat-label>备注</mat-label>
        <textarea matInput formControlName="notes"></textarea>
    </mat-form-field>
</form>
